<a href="https://colab.research.google.com/github/bangse94/studyboj/blob/main/Untitled26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

BOJ 2440

In [2]:
N = int(input())

for i in range(N):
    print("*"*(N-i))

5
*****
****
***
**
*

BOJ 2241

In [14]:
N = int(input())

for i in range(0,N):
    print(" "*i+"*"*(N-i))

5
*****
 ****
  ***
   **
    *

BOJ 11718

In [ ]:
while True:
    try:
        print(input())
    except EOFError:
        break

BOJ 1924

In [5]:
A = ['SUN', 'MON', 'TUE', 'WED', 'THR', 'FRI', 'SAT']
B = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

x, y = map(int, input().split())
day = 0
for i in range(0, x-1):
    day += B[i]

day = (day+y)%7

print(A[day])

9 2
SUN