<a href="https://colab.research.google.com/github/bangse94/studyboj/blob/main/boj1002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1002번 : 터렛

In [13]:
T = int(input())

for _ in range(T):
    x1, y1, r1, x2, y2, r2 = map(int, input().split())
    dist = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
    rs = r1 + r2
    rm = abs(r1- r2)
    if dist == 0:
        if r1 == r2:
            print(-1)
        else:
            print(0)
    else:
        if dist == rs or dist == rm:
            print(1)
        elif dist < rs and dist > rm:
            print(2)
        else:
            print(0)

3
0 0 13 40 0 37
2
0 0 3 0 7 4
1
1 1 1 1 1 5
0