<a href="https://colab.research.google.com/github/bangse94/studyboj/blob/main/boj15649.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

15649번 : N과 M(1)

In [12]:
N, M = map(int, input().split())
num_list = [i + 1 for i in range(N)]
visit = [False] * N

res = []

def dfs(cnt):
    if cnt == M:
        print(*res)
        return
    
    for i in range(0, N):
        if (visit[i]):
            continue
        
        visit[i] = True
        res.append(num_list[i])

        dfs(cnt+1)

        res.pop()
        visit[i] = False

dfs(0)

4 4
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
2 4 3 1
3 1 2 4
3 1 4 2
3 2 1 4
3 2 4 1
3 4 1 2
3 4 2 1
4 1 2 3
4 1 3 2
4 2 1 3
4 2 3 1
4 3 1 2
4 3 2 1