<a href="https://colab.research.google.com/github/bangse94/studyboj/blob/main/Untitled26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

BOJ 2440

In [2]:
N = int(input())

for i in range(N):
    print("*"*(N-i))

5
*****
****
***
**
*

BOJ 2241

In [14]:
N = int(input())

for i in range(0,N):
    print(" "*i+"*"*(N-i))

5
*****
 ****
  ***
   **
    *

BOJ 11718

In [ ]:
while True:
    try:
        print(input())
    except EOFError:
        break

BOJ 1924

In [5]:
A = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']
B = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

x, y = map(int, input().split())
day = 0
for i in range(0, x-1):
    day += B[i]

day = (day+y)%7

print(A[day])

9 2
SUN

BOJ 10699

In [1]:
import datetime
print(str(datetime.datetime.now())[:10])

2022-06-23

BOJ 7287

In [4]:
print('157\ntpwns73')

157
tpwns73

BOJ 25083

In [9]:
print('         ,r\'"7')
print('r`-_   ,\'  ,/')
print(' \. ". L_r\'')
print('   `~\\/')
print('      |')
print('      |')

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

BOJ 11382

In [10]:
nums = map(int, input().split())

print(sum(nums))

77 77 7777
7931

BOJ 2420

In [11]:
N, M = map(int, input().split())
print(abs(N-M))

-2 5
7

BOJ 10807

In [12]:
N = int(input())
nums = map(int, input().split())
v = int(input())
cnt = 0

for num in nums:
    if num == v:
        cnt+=1

print(cnt)

11
1 4 1 2 4 2 4 2 3 4 4
2
3

BOJ 5597

In [21]:
pupils = [i for i in range(1,31)];

for _ in range(len(pupils)-2):
    num = int(input())
    pupils.remove(num)

print(min(pupils))
print(max(pupils))

9
30
6
12
10
20
21
11
7
5
28
4
18
29
17
19
27
13
16
26
14
23
22
15
3
1
24
25
2
8

BOJ 2738

In [23]:
N, M = map(int, input().split())
A, B = [], []

for i in [A,B]:
    for j in range(N):
        i.append(list(map(int, input().split())))

for i in range(N):
    for j in range(M):
        A[i][j] += B[i][j]
    print(*A[i])

3 3
1 1 1
2 2 2
0 1 0
3 3 3
4 4 4
5 5 100
4 4 4
6 6 6
5 6 100

BOJ 2743

In [24]:
print(len(str(input())))

pulljima
8

BOJ 2744

In [32]:
strings = str(input())
answer = ''
for c in strings:
    if c.isupper():
        answer = answer + c.lower()
    else:
        answer = answer + c.upper()

print(answer)

WrongAnswer
wRONGaNSWER

BOJ 2754

In [33]:
dic = {'A+' : 4.3, 'A0' : 4.0, 'A-' : 3.7, 'B+' : 3.3, 'B0': 3.0, 'B-' : 2.7, 'C+' : 2.3, 'C0' : 2.0, 'C-' : 1.7, 'D+' : 1.3, 'D0' : 1.0, 'D-' : 0.7, 'F': 0.0}

grade = str(input())
print(dic[grade])

A0
4.0

BOJ 9086

In [34]:
T = int(input())
answer = []
for _ in range(T):
    char = str(input())
    answer.append(char[0] + char[-1])

for ans in answer:
    print(ans)

3
ACDKJFOWIEGHE
O
AB
AE
OO
AB

BOJ 23037

In [41]:
n = str(input())
answer = 0
for num in n:
    answer += pow(int(num), 5)

print(answer)

12345
4425